$base-color: #fffffe;
$background-color: #abd1c6;

$fab-background-color: #f9bc60;
$fab-box-shadow: #666;

$button-box-shadow-color: rgba(0, 0, 0, 0.25);

$nav-background-color: #004643;
$profile-background-color: #004643;
$text-white: #ffffff;

$error-color: #e16162;

$tweet-button: #f9bc60;
$tweet-button-text: #001e1d;

$tweet-initial-box-shadow: rgba(0, 0, 0, 0.1);
$tweet-initial-box-shadow-after: rgba(0, 0, 0, 0.56);

$text-heading-color: #001e1d;
$text-subheading-color: #0f3433;
$tweet-border: #004643;
$tweet-text-color: #abd1c6;