nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 120px;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 1;

  &.scrolled {
    background: url('../images/black-thread-light.png'), #d79922;
  }

  > span {
    font-family: 'Bungee', cursive;
    margin-top: auto;
    margin-bottom: auto;
  }
}

#new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h3 {
    margin-block-end: 0.2em;
  }
}

#main-head {
  padding-top: 120px;
  height: 400px;
  width: 100vw;
  background: url('../images/black-thread-light.png'), #d79922;
}

#head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

#main-head #head div > img {
  display: block;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.light-last-word {
  font-weight: normal;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}

#arrow {
  align-items: center;
  margin-top: 60px;
  color: #FFF8DC;
  position: absolute;
  transition: color .2s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  &:hover {
    cursor: pointer;
    color: red;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}