@import "./colors.scss";
@import "./font.scss";

button {
  color: $tweet-button-text;
  background-color: $tweet-button;
  border: none;
  border-radius: 3px;
  font-family: $font-secondary;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $tweet-button-size;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 16px;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }
}

.new-tweet {
  padding-top: 24px;
  > h2 {
    color: $text-heading-color;
  }
  > form {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    padding-top: 36px;
    padding-bottom: 36px;
    color: $text-subheading-color;

    > {
      label {
        padding-bottom: 14px;
      }

      #tweet-text {
        outline: none;
        resize: none;
        border: none;
        background-color: $background-color;
        border-bottom: 2px solid $tweet-border;
        height: 60px;
        font-size: $tweet-text-size;
        font-weight: bold;
        color: $text-subheading-color;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 14px;
      }
    }
  }
}

#error {
  display: none;
  color: $error-color;
  border: 4px dashed $error-color;
  padding: 8px;
}

.counter {
  font-family: $font-secondary;
  font-size: $counter-size;
}

.counter-over-limit {
  color: $error-color;
}
