@import "./colors.scss";
@import "./font.scss";

article {
  padding: 18px;
  margin-bottom: 18px;
  background: $tweet-border;
  border-radius: 5px;
  box-shadow: 0 1px 2px $tweet-initial-box-shadow;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 48px;

    .profile {
      display: flex;
      flex-direction: row;

      .profile-pic {
        width: 42px;
        height: auto;
      }

      :first-child {
        padding-right: 10px;
      }
    }
  }

  .tweet-text {
    padding: 0px 0px 16px 0px;

    font-weight: 600;
    color: $tweet-text-color;
  }

  footer {
    hr {
      border: 1px solid;
    }

    .tweet-time {
      padding: 16px 0px 0px 0px;
      font-size: $tweet-time-size;
    }

    .tweet-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .tweet-icons {
        padding-top: 16px;

        i {
          &:hover {
            color: rgba($base-color, 0.7);
          }

          &:not(:first-child) {
            padding-left: 8px;
          }
        }
      }
    }
  }
  &::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: $tweet-initial-box-shadow-after 0px 22px 70px 4px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    transform: scale(1.009, 1.009);
  }

  &:hover::after {
    opacity: 1;
  }
}
