nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 120px;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 1;
}
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #004643;
  }
}
nav.scrolled {
  background: #004643;
}
@media only screen and (min-width: 1024px) {
  nav.scrolled {
    background: none;
    background-color: #004643;
  }
}
nav > span {
  font-family: "Bungee", cursive;
  margin-top: auto;
  margin-bottom: auto;
}

#new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#new-tweet h3 {
  margin-block-end: 0.2em;
}
#new-tweet #arrow {
  align-items: center;
  margin-top: 60px;
  color: #ffffff;
  position: absolute;
  transition: color 0.2s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#new-tweet #arrow:hover {
  cursor: pointer;
  color: #f9bc60;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#main-head {
  padding-top: 120px;
  height: 400px;
  background: url("../images/black-thread-light.png"), #004643;
}
@media only screen and (min-width: 1024px) {
  #main-head {
    width: 40%;
    max-width: 400px;
    margin-top: 300px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
  }
}
#main-head #head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffe;
}
#main-head #head div > img {
  display: block;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#main-head #head .light-last-word {
  font-weight: normal;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
